* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* start of header style */
header {
    padding: 15px 0;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.95);
}

header h1 a {
    font-size: 2.5vw;
    font-weight: bolder;
    color: rgb(255, 189, 57);
    text-decoration: none;
}


header a {
    color:white; 
    text-decoration: none; 
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;

}

header nav ul li a {
    padding: 0 15px;
    font-size: 1.5vw;
    font-family:'Times New Roman', serif;
}

header nav ul li a:hover {
    cursor: pointer;
    color: #ffce6c;
}


/* end of header */


/* style for hero section */

.hero {
    display: flex;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    background-color: #000000;
    width: 100%;
    padding: 4rem;
}


.hero img {
    width: 30%;
    align-self: center;
}

.hero-intro {
    width: 70%;
    display: block;
    align-items: center;
    text-align: center;
    line-height: 3vw;
}



.hero-intro h2 {
    color: #ffce6c;
    font-size: 1.25vw;
}
.hero-intro p {
    font-size: 2.5vw;
    color: white
}

span {
    color:#ffbd39;
    font-size: 2.5vw;
}

.section-title {
    color:#ffbd39;
    font-size: 3vw;
    padding: 10px 0;
}


.about {
    padding: 7rem;
    background-color: rgb(234, 230, 230);
    
}

#about p {
    /* width: 50%;*/
    display: flex;
    width: 100%;
    margin: 10px;
    text-align: justify;
    margin: auto;
    padding: 3vw 15vw;
    line-height: 2vw;
    font-size: 1.2vw;
}

/* style for skills section*/

.skills {
    padding: 10rem;
    background-color: #000000;
}

.skills-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.skills-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:3vw;
}
.skills-container ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw;
}



.skills-container i{
    font-size: 10vw;
    padding: 0.1rem;
    color:aquamarine
}

.skills-container i:hover {
   color:#ffbd39
}

.skills-container p {
    text-align: center;
    font-size: 1.5vw;
    color: aqua;
    font-weight: bold;

}


/* style fo projects section */
.projects {
    padding: 10rem;

}


.card-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card  {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    width: 70%;
    margin: 2vw;
    background-color: #000000;
    
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    padding: 10px;

}

.container a{
    text-decoration: none;
    color:#ffbd39;
    font-weight: bolder;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;

}


  
/* On mouse-hover, add a deeper shadow */
.card:hover {
    transform: scale(1.02);
}


/* style for contact section */

.contact {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.contact-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}

.contact-form {
    width: fit-content;
}



.contact-form input, .contact-form textarea{
    border: 0px solid #ffbd39;
    display: flex;

    padding: 7px 15px;
    font-size: 16px;
    color: #000000;
    background-color: rgba(255, 189, 57, 0.8);
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 3px;

    
}


.contact-form input:focus, .contact-form textarea:focus {
    background-color: #ffffff;   
    outline: none;
}

.contact-form button{
    border: none;
    background:#ffbd39;
    color:black;
    text-align: center;
    padding:15px 0;
    font-size: 16px;
    border-radius: 30px;
    width: 125px;

}

.contact-form button:hover {
    background-color: #ffce6c;
}

.icon-links {
    padding: 10px
}

.icon-links i {
    font-size: 2em;
    color: #ffbd39;
    padding: .5em;
}

.icon-links a {
    text-decoration: none;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header h1 a {
        font-size: 2rem;
    }
    header nav ul li a {
        padding: 0 15px;
        font-size: 1.2rem;
        font-family:'Times New Roman', serif;
    }

    .hero, .about, .skills, .projects, .contact{
        padding: 10vw
    }

    .hero-intro h2 {
        font-size: 2vw;
    }
    .hero-intro p {
        font-size: 3vw;
    }
    
    span {
        font-size: 3vw;
    }
    
    .section-title {
        font-size:3.5vw;
    }

    #about p {
        padding: 20px;
        font-size: 18px;
        line-height: 1.5em;
    }


    .skills-container ul{
        max-width: 60% ;
        justify-content:space-around;
    }

    

}

@media screen and (max-width: 768px) {
    header h1 a {
        font-size: 1.5rem;
    }
    header nav ul li a {
        padding: 0 15px;
        font-size: .8rem;
    }

    .hero, .about, .skills, .projects, .contact{
        padding: 8vw;
    }
    
    #about p {
        padding: 20px;
        font-size: 12px;
        line-height: 1.5em;
    }

    .section-title {
        font-size:1.5rem;
    }


    .skills-container ul{
        max-width: 50% ;
        justify-content: space-around;
    }



}

@media screen and (max-width: 575px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }

    header h1{
        padding-bottom: 20px;
    }

    header h1 a {
        font-size: 2rem;
    }
    header nav ul li a {
        font-size: 0.8rem;
    }

    .section-title {
        font-size:1.5rem;
        padding: 5px;
    }

    #about p {
        padding: 10px;
        font-size: 1em;
    }


}
